<div id="header">
    <div class="header_content ">
        <div class="header_container">
            <div class="logo">
                <a target="_blank" href="//vchat.vn/home" title="vChat tăng doanh số bán hàng">
                    <img src="/themes//v1//images/logo_1.png" alt="Logo" />
                </a>
            </div>

            <ul class="menu_top fl">
                <li class="active">
                    <a href="/home/support_v2.php">
                        Chat<i id="menu_ccc_vchat" class="cmsg vgc_hide" >0</i>
                    </a>
                </li>
                <li class="">
                    <a href="/home/type.php?module=history_user">
                        Lịch sử	
                    </a>
                </li>
                <li class="">
                    <a href="/home/type.php?module=msg">
                        Tin offlin
                    </a>
                </li>
                <li class="">
                    <a href="/home/setting.php">
                        Cài đặt
                    </a>
                </li>               
                <li class="">
                    <a href="/home/statistic_new.php">Thống kê</a>
                </li>
                <li class="">
                    <a target="_blank" href="/landing_page/download_vchat_windows">Ứng dụng</a>
                </li>
                <li>
                    <a target="_blank" href="//marketing.vatgia.com/support/vchat">Hướng dẫn</a>
                </li>
                <li class="">
                    <a href="/vbot/">vChat BOT <i class="cmsg">Beta</i></a>
                </li>
            </ul>

            <ul class="menu_top fr">
                <li class="dropdown" data-hover="dropdown">
                    <a href="javascript:void(0);" title="tài khoản">
                        <img width="30" height="30" src="https://id.vatgia.com/avatar/50/005/03a/38.png" />
                        viettoan290696@gmail.com<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:show_modal('vbot')">Kích hoạt vBOT</a>
                        </li>
                        <li>
                            <a href="https://id.vatgia.com/thiet-lap/?_cont=%2F%2Fvchat.vn%2Fhome%2Fidvg_return.php%3Fredirect%3DL2hvbWUvc3VwcG9ydF92Mi5waHA%2C&service=vchat" target="_blank" >Thông tin tài khoản</a>
                        </li>
                            <li>
                            <a href="/home/payment_history.php" >Lịch sử giao dịch</a>
                        </li>
                        <li>
                            <a href="javascript:show_modal('popup_sound')">Cài đặt âm thanh</a>
                        </li>
                        <li>
                            <a href="javascript:show_modal('popup_location')">Hỏi vị trí của khách</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="show_intro({position:'right'});">Xem hướng dẫn</a>
                        </li>
                        <li>
                            <a href="javascript:show_modal('popup_online')">Danh sách hỗ trợ online</a>
                        </li>
                        <li>
                            <a href="/home/izpage_login.php">Đăng nhập IZ Page PC</a>
                        </li>
                        <li>
                            <a target="_blank" href="//marketing.vatgia.com/support/vchat">Hướng dẫn sử dụng</a>
                        </li>
                        <li>
                            <a href="/logout" title="Đăng xuất">Đăng xuất</a>
                        </li>
                        <li class="drop_chat">
                            <input type="button" class="btn_type_vchat"  onclick="create_chat_box({id:229});" value="Chat với hỗ trợ vChat" />
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="menu_top fr notice_money"><a target="_blank" href="/home/account.php" onclick="">Bạn đang dùng gói <b>"Dùng thử"</b> miễn phí <b>"30 ngày"</b>.<br/>Nâng cấp lên gói <b>"TRẢ PHÍ"</b></a></div>               

            <div class="clear"></div>
        </div>
    </div>
</div>