/node_modules
/public/images
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/_ide_helper.php
/client_app/node_modules

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
src/server/public/css/main.css

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
/yarn.lock
uploads/
/playgournd.html

!/src/server/public/bundle.js
/src/server/public/bundle.js
/static/dist/bundle.js
/static/dist/
/node_modules/
/node/static/dist/
/node/.env
/storage/app/files
#/src/server/ChatSocketEvent.js
/src/client/constants/Server.js
!/src/client/constants/Server.js
/package-lock.json
/static/bundle.js
/static/report.html
/static/main-bundle.js
/static/node-static.js