<div class="fix_menu_md">
    <div id="logo"><a href="index.html"><img src='/images/logo.png' style='width: 120px;'  /></a></div>
    <div class="fix_menu">
        <div class="rmm">
            <a href="http://vchat.vn/home"><img class="logo" src='/images/logo.png'/></a>
            <ul>
                <li><a class="" href='https://vchat.vn/landing_page/giai_phap/'>Giải pháp</a></li>
                <li><a class="" href='https://vchat.vn/landing_page/tinh_nang/'>Tính năng</a></li>
                <li><a class="" href='https://vchat.vn/landing_page/bang_gia/'>Bảng giá</a></li>
                <li><a class="" href='https://vchat.vn/landing_page/download_vchat_windows'>Ứng dụng</a></li>
                <li><a href='https://vchat.vn/blog'>Blog</a></li>
                <li class="rmn_de_01"><a href='https://id.vatgia.com/dang-ky/?_cont=%2F%2Fvchat.vn%2Fhome%2Fidvg_return.php%3Fredirect%3DL2hvbWUvaW5kZXgucGhwPw--&amp;service=vchat' class="active">Dùng thử</a></li>
                <li class="rmn_de_02"><a href='/login' class="login">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</div>