<!DOCTYPE html>
<html>
<head>
    <% include layouts/head %>
</head>
<body>
   	<div class="wrapper">
        <% include layouts/navigation %>

        <div class="clearboth banner">
            <img src="/images/banner1.jpg" class="img-responsive" />

            <div class="banner_content">
                <h3>GIẢI PHÁP CHAT CHĂM SÓC KHÁCH HÀNG TRỰC TUYẾN</h3>
                <p class="text_01" style="">Cách nhanh nhất <b>hỗ trợ khách hàng</b> của bạn khi họ cần! <b>Free chat</b></p>
                <p class="text_02" style="white-space: nowrap;">Trải nghiệm vChat 30 ngày hoàn toàn miễn phí</p>
                <p class="button_tex" ><a href="https://id.vatgia.com/dang-ky/?_cont=%2F%2Fvchat.vn%2Fhome%2Fidvg_return.php%3Fredirect%3DL2hvbWUvaW5kZXgucGhwPw--&amp;service=vchat" class="button_banner">BẮT ĐẦU NGAY</a></p>
            </div>
            <div class="banner_content_img">
                <img class="img-responsive" src="/images/barner_content.png" />
            </div>
        </div>
        <div class="intro_content">
            <div class="laptop_intro">
                <iframe width="306" height="193" src="https://www.youtube.com/embed/9hvHJjy0W-o" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="laptop_content">
                <h3>vChat là gì</h3>
                <p>vChat là giải pháp <b>chat trực tuyến</b> cho phép bạn theo dõi và trò chuyện với khách truy cập website của bạn.</p>
                <br />
                <p>Khách hàng của bạn sẽ được hỗ trợ nhanh hơn email và hiệu quả hơn điện thoại.</p>
                <p>Với vChat, khách hàng của bạn không còn phải chờ đợi nữa !</p>
                <br />
                <p class="left_icon_play"><a href="javascript:void jQuery.colorbox({html:'<iframe width=100% height=100% src=https://www.youtube.com/embed/9hvHJjy0W-o frameborder=0 allowfullscreen></iframe>',width:'70%',height:'70%',maxHeight:'300',maxWidth:'500',scrolling:false,fixed:true})" class="color12">XEM VIDEO GIỚI THIỆU</a></p>
            </div>
        </div>
        <div class="work_info">
            <div class="work_info_item work01">
                <img src="/images/conect_global.png" class="img-responsive" />
                <p class="color11">KẾT NỐI VỚI KHÁCH HÀNG CỦA BẠN</p>
                <p class="work_info_item_lg">vChat sẽ giúp bạn tạo dựng thương hiệu riêng cho dịch vụ <b>chăm sóc khách hàng trực tuyến</b>.
                    Xây dựng mối quan hệ tốt hơn nữa với khách hàng thông qua việc trò chuyện thường xuyên với họ.
                </p>
            </div>
            <div class="work_info_item work02">
                <img src="/images/doanhso.png" class="img-responsive" />
                <p class="color11">TĂNG DOANH SỐ BÁN HÀNG</p>
                <p class="work_info_item_lg">Cách nghiên cứu từ các tổ chức lớn trên thế giới cho thấy rằng 87% khách hàng mua nhiều hơn sau khi tham gia chat,
                và tỉ lệ họ quay lại website cũng cao hơn 40% so với trước khi sử dụng dịch vụ <b>chat trực tuyến</b>.
                </p>
            </div>
            <div class="work_info_item work03">
                <img src="/images/giaiphap.png" class="img-responsive" />
                <p class="color11">CUNG CẤP CÁC GIẢI PHÁP TỐI ƯU</p>
                <p class="work_info_item_lg">vChat kết nối doanh nghiệp của bạn đến những nhà cung cấp các ứng dụng quản lý, marketing online, Quản lý đơn hàng online, vận chuyển hàng đầu. Giải quyết tất các các bài toán khó khăn của doanh nghiệp bạn</p>
                <div class="box_info"><a href="http://vchat.vn/landing_page/giai_phap/">XEM THÊM</a></div>
            </div>
        </div>
        <div class="statistic">
            <div class="statistic_item">
                <p class="statistic_num">15.000+</p>
                <p>Doanh nghiệp</p>
            </div>
            <div class="statistic_item">
                <p class="statistic_num">45.000+</p>
                <p>Website</p>
            </div>
            <div class="statistic_item">
                <p class="statistic_num">1.000.000+</p>
                <p>Cuộc chat</p>
            </div>
        </div>

        <div class="content_intro">
            <div class="content_intro_item">
                <div class="box_cicle">
                    <img class="box_cicle_item" src="/images/background_profile.png" class="img-responsive" />
                    <img src="/images/pic2.jpg" class="img-responsive" />
                </div>
                <p class="color11 user_info">Click Buy và những trải nghiệm vChat</p>
                <div class="box_bottom">
                    <p class="color11">
                        Từ khi sử dụng vChat, chúng tôi đã tiếp cận đến nhiều khách hàng hơn. Cụ thể, mỗi ngày chúng tôi có thể hỗ trợ từ 90 - 100 khách.
                    </p>
                    <p class="left_icon_play"><a href="javascript:void jQuery.colorbox({html:'<iframe width=100% height=100% src=https://www.youtube.com/embed/7YhN8wxBnyA frameborder=0 allowfullscreen></iframe>',width:'70%',height:'70%',maxHeight:'300',maxWidth:'500',scrolling:false,fixed:true})" class="color12" >XEM VIDEO GIỚI THIỆU</a></p>
                </div>
            </div>

            <div class="content_intro_item">
                <div class="box_cicle">
                    <img class="box_cicle_item" src="/images/background_profile.png" class="img-responsive" />
                    <img src="/images/pic3.jpg" class="img-responsive" />
                </div>
                <p class="color11 user_info">Tư vấn hiệu quả qua vChat</p>
                <div class="box_bottom">
                    <p class="color11">
                        So với sử dụng email hay số hotline, vChat giúp chúng tôi tư vấn được các chương trình du học rất chi tiết đến phụ huynh, học sinh muốn tìm hiểu ...
                    </p>
                    <p class="left_icon_play"><a href="javascript:void jQuery.colorbox({html:'<iframe width=100% height=100% src=https://www.youtube.com/embed/lfcYjZ5uDh4 frameborder=0 allowfullscreen></iframe>',width:'70%',height:'70%',maxHeight:'300',maxWidth:'500',scrolling:false,fixed:true})" class="color12">XEM VIDEO GIỚI THIỆU</a></p>
                </div>
            </div>
            <div class="content_intro_item">
                <div class="box_cicle">
                    <img class="box_cicle_item" src="/images/background_profile.png" class="img-responsive" />
                    <img src="/images/pic4.jpg" class="img-responsive" />
                </div>
                <p class="color11 user_info">vChat và câu chuyện từ Nasa.net.vn</p>
                <div class="box_bottom">
                    <p class="color11">
                        Trong quá trình sử dụng vChat, doanh số <b>bán hàng online</b> của công ty đã tăng mạnh so với trước đây.
                    </p>
                    <p class="left_icon_play"><a href="javascript:void jQuery.colorbox({html:'<iframe width=100% height=100% src=https://www.youtube.com/embed/SL14Ca81HZo frameborder=0 allowfullscreen></iframe>',width:'70%',height:'70%',maxHeight:'300',maxWidth:'500',scrolling:false,fixed:true})" class="color12">XEM VIDEO GIỚI THIỆU</a></p>
                </div>
            </div>
        </div>

        <div class="partner">
            <div style="width: 15%;"><object style="height: 34px;" data="https://vchat.vn/themes/v1/images/logovatgia.svg" type="image/svg+xml"></object></div>
            <div style="width: 12%;"><img src="/images/logo_bnc.png" class="img-responsive margin_auto" /></div>
            <div style="width: 8%;"><img src="/images/logo_iki.png" class="img-responsive margin_auto" /></div>
            <div style="width: 14%;"><img src="/images/logo_baokim.png" class="img-responsive margin_auto" /></div>
            <div style="width: 12%;"><img src="/images/logo_nhanh.png" class="img-responsive margin_auto" /></div>
            <div style="width: 11%;"><img src="/images/logo_mytour.png" class="img-responsive margin_auto" /></div>
        </div>

        <% include layouts/footer %>  
    </div>

    <% include layouts/script %>
</body>
</html>
