<div class="footer">
    <div class="web_access">
        <p>Trải nghiệm chat website free 30 ngày</p>
        <div class="clearboth"></div>
        <div style="margin-top: 25px;min-height: 35px;margin-bottom: 20px;"><p><a href="https://id.vatgia.com/dang-ky/?_cont=%2F%2Fvchat.vn%2Fhome%2Fidvg_return.php%3Fredirect%3DL2hvbWUvaW5kZXgucGhwPw--&amp;service=vchat" class="button_banner">BẮT ĐẦU NGAY</a></p></div>
        <div>
            <b style="display:block;margin: 10px 0;font-size: 12px;">vChat - Chat website miến phí - Chat hỗ trợ online, trực tuyến, - Tăng doanh số bán hàng - Tiếp cận khách hàng online - Chat miễn phí</b>
        </div>
        <div class="clearboth" style="border-top: 1px solid #446eb4;border-bottom: 1px solid #7ca1ce; height: 2px;"></div>
        <div class="web_access_list">
            <ul>
                <li><a href="login.html" class="foot_icon_browser">Web browser</a></li>
                <li><a href="https://vchat.vn/landing_page/download_vchat_windows/" class="foot_icon_window">Windows</a></li>
                <li><a href="https://vchat.vn/landing_page/download_vchat_mac/" class="foot_icon_mac">Mac OS X</a></li>
                <li><a href="https://itunes.apple.com/us/app/vchat/id905239605?mt=8" class="foot_icon_iphone">iPhone</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.vnp.vchat&amp;hl=vi" class="foot_icon_android">Android</a></li>
            </ul>
        </div>
    </div>

    <div class="footer1_menu">
        <div class="foot_01">
            <ul class="footer_menu_item">
                <h4>Sản phẩm</h4>
                <li><a href="https://vchat.vn/blog/5/ve-vchat.html">vChat là gì ?</a></li>
                <li><a href="https://vchat.vn/blog/7/tinh-nang-moi.html">Tính năng</a></li>
                <li><a href="#">Giải pháp</a></li>
                <li><a href="https://vchat.vn/blog/4/trai-nghiem-cung-vchat.html">Khách hàng</a></li>
                <li><a href="https://vchat.vn/landing_page/download_vchat_windows">Download</a></li>
            </ul>
            <ul class="footer_menu_item">
                <h4>Tính năng</h4>
                <li><a href="#">Chat trên trình duyệt</a></li>
                <li><a href="#">Điều chỉnh cửa sổ chát</a></li>
                <li><a href="#">Quản lý khách truy cập</a></li>
                <li><a href="#">Trigger thông minh</a></li>
                <li><a href="#">Báo cáo cơ bản</a></li>
                <li><a href="#">Email Transcript</a></li>
            </ul>
            <ul class="footer_menu_item">
                <h4>Nguồn</h4>
                <li><a href="https://vchat.vn/blog">Blog</a></li>
                <li><a href="https://vchat.vn/blog/5/ve-vchat.html">Về chúng tôi</a></li>
                <li><a href="https://id.vatgia.com/dang-ky/?_cont=%2F%2Fvchat.vn%2Fhome%2Fidvg_return.php%3Fredirect%3DL2hvbWUvaW5kZXgucGhwPw--&amp;service=vchat">Bắt đầu sử dụng</a></li>
            </ul>
        </div>
        <div class="foot_02">
            <ul class="footer_menu_item">
                <h4>Thông tin khác</h4>
                <li><a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="https://vchat.vn/blog/5/ve-vchat.html">Về chúng tôi</a></li>
            </ul>
            <ul class="footer_menu_item">
                <h4>Liên hệ chúng tôi</h4>
                <li><a>Trụ sở chính: Số 102, phố Thái Thịnh, phường Trung Liệt, quận Đống Đa, Hà Nội</a></li>
                <li><a>Chi nhánh Hồ Chí Minh: Đường Lữ Gia, Phường 15, Quận 11, Hồ Chí Minh</a></li>
                <li><a>Hotline: (024)73 050 105 - 0169 2250 821</a></li>
                <li><a href="https://www.facebook.com/groups/251299398613108/" target="_blank">Join Group Facebook hỗ trợ khách hàng</a></li>
                <li><a href="http://vnpgroup.vn/"><img src="/images/logo_vnp.png" class="img-responsive logo_vnp" /></a></li>
            </ul>
        </div>
    </div>
</div> 